<h1>Edit Image:</h1>

<h2>Test Python Integration</h2>

<br>
<div>
	<%= render :partial => 'partials/form' %>
</div>


<div class="loader" style="display: none;position: absolute;left: 50%;top: 35%;"></div>
<script type="text/javascript">
	document.querySelector("#myForm").addEventListener("submit", function(e){
		document.getElementsByClassName('loader')[0].style.display = 'block';
	});
</script>